{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<style type="text/css">
  body {
  font-family: 'Open Sans','PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1.title {
  font-weight: 500;
  margin: 0 0 30px;
}
.bucket {
  background:#fff;
  width: 450px;
  margin: 50px auto;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);

}

.buffer {
   padding: 40px;
}

.header {
  text-align:center;
}
.clearfix { 
  clear: both; 
  font-size: 1px; 
  height: 0px; 
}


}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '663708034758-7rn1vub8870of1n5164p8vgknq05mdn3.apps.googleusercontent.com'
      });
    });
  }
</script>
{% endblock %}

{% block content %}

<!-- GOOGLE SIGN IN-->
<div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

          <div class="bucket">
             <div class="buffer">
               <div class="header">
                 <h1 class="title">Login  Or  Sign up</h1>
               </div>
                <button class="btn btn-primary btn-block" style="height: 50px;" id="signinButton">Google Signin</button>
            <div id="result"></div>
            </div>
          </div>

            
        </div>

<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>

{% endblock %}